<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control mt-1' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.rich_text_area :body, class: 'form-control mt-1', rows: '8' %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, "Tags (separar por vírgulas)" %>
    <%= form.text_field :tag_list, class: 'form-control mt-1' %>
  </div>

  <div class="submit-post mt-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
