<div class="container posts">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <% @posts.each do |post| %>
          <div class="post-container shadow-sm mb-4 py-4 rounded">
            <h2 class="post-title" onclick="location.href='<%= post_path(post) %>'">
              <%= post.title %>
            </h2>
            <p><%= post.body.to_plain_text.first(100) %>...</p>

            <% if post.tags.exists? %>
                <small> tags: <%= show_tags(post) %> </small>
                <br>
            <% end %>

            <small><%= time_ago_in_words post.created_at %> atrás</small>
            <p><small>Por: <%= post.user.name %></small></p>

            <% if post.user == current_user %>
              <%= link_to 'Editar', edit_post_path(post), class: 'standard-link' %>
              
              <br>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removePostModal">
                Remover
              </button>

              <!-- Modal -->
              <div class="modal fade" id="removePostModal" tabindex="-1" aria-labelledby="removePostModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="removePostModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Atenção! Esta é uma versão irreversível.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-danger">
                        <%= link_to 'Remover', post, method: :delete, class: 'text-white' %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
      <% end %>

      <div class="pagy-links d-flex justify-content-center pt-4">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
    
  </div>
</div>