<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <div class="post-container py-5 px-3 my-5 rounded">
        <h1 class="mb-4 post-main-title"> <%= @post.title %> </h1>
        <p class="mb-5">
          <em>Por: <%= @post.user.name %> </em>
          
          <% if @post.tags.exists? %>
            <br>
            <small> tags: <%= show_tags(@post) %> </small>
          <% end %>
        </p>
        <p class="trix-content"> <%= @post.body %> </p>

        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post), class: 'standard-link' %>
          <br>
          <%= link_to 'Remover', @post, method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'delete-post-link' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <section class="comments py-4" data-post-id="<%= @post.id %>">
      <% if @post.comments.any? %>
        <h3>Coment치rios</h3>
        <%= render @post.comments.order(created_at: :desc) %>
      <% else %>
        Nenhum coment치rio a ser mostrado
      <% end %>

      <%= form_with model: @comment, local: true, class: 'new-comment' do |form| %>
        <%= form.hidden_field :post_id, value: @post.id %>

        <div class="form-group py-2">
          <%= form.text_area :body, placeholder: 'Coment치rio', required: true, class: 'form-control', rows: '6' %>
        </div>

        <div class="actions py-2">
          <%= form.submit 'Enviar coment치rio', class: 'btn btn-success' %>
        </div>
      <% end %>
    
    </section>
  </div>
</div>
