<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <div class="post-container py-5 px-3 my-5 rounded">
        <h1 class="mb-4 post-main-title"> <%= @post.title %> </h1>
        <p class="mb-5">
          <em>Por: <%= @post.user.name %> </em>
          
          <% if @post.tags.exists? %>
            <br>
            <small> tags: <%= show_tags(@post) %> </small>
          <% end %>
        </p>
        <p class="trix-content"> <%= @post.body %> </p>

        <% if @post.user == current_user %>
          <%= link_to 'Editar', edit_post_path(@post), class: 'standard-link' %>
          <br>
          

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removePostModal">
            Remover
          </button>

          <!-- Modal -->
          <div class="modal fade" id="removePostModal" tabindex="-1" aria-labelledby="removePostModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="removePostModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Atenção! Esta é uma versão irreversível.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-danger">
                    <%= link_to 'Remover', @post, method: :delete, class: 'text-white' %>
                  </button>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <section class="comments py-4" data-post-id="<%= @post.id %>">
      <% if @post.comments.any? %>
        <h3>Comentários</h3>
        <%= render @post.comments.order(created_at: :desc) %>
      <% else %>
        Nenhum comentário a ser mostrado
      <% end %>

      <%= form_with model: @comment, local: true, class: 'new-comment' do |form| %>
        <%= form.hidden_field :post_id, value: @post.id %>

        <div class="form-group py-2">
          <%= form.text_area :body, placeholder: 'Comentário', required: true, class: 'form-control', rows: '6' %>
        </div>

        <div class="actions py-2">
          <%= form.submit 'Enviar comentário', class: 'btn btn-success' %>
        </div>
      <% end %>
    
    </section>
  </div>
</div>
