<div class="container">
  <div class="row">
    <div class="col-12 text-center">
    <p id="notice"><%= notice %></p>
      <div class="post-container p-5 m-5 rounded">
        <h1 class="mb-4 post-main-title"> <%= @post.title %> </h1>
        <p class="mb-5">
          <em>Por: <%= @post.user.name %> </em>
        </p>
        <p> <%= @post.body %> </p>

        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post), class: 'standard-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
