<!DOCTYPE html>
<html>
  <head>
    <title>SelectionProcessChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= 
        link_to_unless_current("Sign in", new_user_session_path) do
          link_to("Go back", root_path) 
        end 
      %>
    <% end %>

    <%= yield %>
  </body>
</html>
